html {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #1B263B;
}
/* Setting the height, width, font-family, and background color for the HTML element */

body {
  margin: 0;
  padding: 0;
}
/* Removing margin and padding from the body element */

header > h1 {
  text-align: center;
  color: #E0E1DD;
}
/* Centering the text and setting the color for h1 elements within the header */

form {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 2em 1em;
  background-color: #778DA9;
}
/* Styling the form with a maximum width of 500px, centered horizontally, with padding and a background color */

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
  color: #0D1B2A;
}
/* Creating a flex container for form rows, aligning them to the right, and setting padding and text color */

.form-row > label {
  width: 100px;
}
/* Setting a fixed width for labels within form rows */

.form-row > input,
.form-row > select {
  padding: 1em;
  flex-grow: 1;
}
/* Setting padding and allowing inputs and selects to grow within form rows */

h2 {
  text-align: center;
  color: #E0E1DD;
}
/* Centering the text and setting the color for h2 elements */

#tasklist {
  max-width: 500px;
  margin: 0 auto;
  padding: 2em 1em;
}
/* Setting a maximum width for the task list, centering it horizontally, and providing padding */

#mongo {
  font-size: 30px;
}
/* Setting the font size for the element with ID "mongo" */

.container-contact {
  /* Styling for the container with class "container-contact" */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 2% 2%;
  grid-auto-flow: column;
  justify-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  width: 100%;
  height: auto; 
  background-color: #1B263B;
  grid-template-areas:
    "theader theader theader"
    "push-sec pull-sec legs-sec"
    "push-sec pull-sec legs-sec";
}
/* Creating a grid layout for the container and defining its grid template areas */

.push-sec,
.pull-sec,
.legs-sec {
  /* Styling for the elements with classes "push-sec", "pull-sec", and "legs-sec" */
  font-size: 16px;
  margin-bottom: 1em;
  padding: 1em;
  box-sizing: border-box;
}

.push-sec,
.pull-sec {
  margin-right: 1em;
}
/* Setting margin-right for elements with classes "push-sec" and "pull-sec" */

#monty {
  /* Styling for the element with ID "monty" */
  margin-top: 50%;
  text-align: center;
  position: relative;
  transform: translateY(-50%);
  transform: translateX(25%);
}
/* Centering the element vertically using margin-top and transform properties */

@media only screen and (max-width: 414px) {
  /* Styles specific to screens with a maximum width of 414px (e.g., iPhone XR) */
  .container-contact {
    /* Modifying the layout of the container for smaller screens */
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "theader"
      "push-sec"
      "pull-sec"
      "legs-sec";
    gap: 2% 2%;
  }

  .push-sec,
  .pull-sec,
  .legs-sec {
    /* Adjusting font size, margin, and padding for smaller screens */
    font-size: 16px;
    margin-bottom: 1em;
    padding: 1em;
    box-sizing: border-box;
  }

  .push-sec,
  .pull-sec {
    margin-right: 1em;
  }

  #monty {
    /* Modifying the positioning of the element for smaller screens */
    margin-top: 50%;
    text-align: center;
    position: relative;
    transform: translateY(-50%);
    transform: translateX(25%);
  }

  #taskTitle {
    /* Adjusting font size and alignment for smaller screens */
    font-size: 24px;
    margin-bottom: 1em;
    text-align: center;
  }

  #tasklist {
    /* Modifying the positioning of the element for smaller screens */
    padding: 1em;
    transform: translateY(-50%);
    transform: translateX(25%);
  }

  form {
    /* Adjusting padding and margin for smaller screens */
    padding: 1em;
    margin-bottom: 2em;
  }

  .form-row {
    /* Modifying the layout of form rows for smaller screens */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1em;
  }

  .form-row > label {
    /* Modifying the width and margin for labels within form rows for smaller screens */
    width: 100px;
    margin-right: 1em;
  }

  .form-row > input,
  .form-row > select {
    /* Allowing inputs and selects to grow within form rows for smaller screens */
    flex-grow: 1;
    min-width: 0;
  }

  #taskform {
    /* Modifying the margin-bottom and positioning of the element for smaller screens */
    margin-bottom: 5em;
    transform: translateY(-50%);
    transform: translateX(25%);
  }
  
  #mongo {
    /* Modifying the positioning of the element for smaller screens */
    margin-top: 5%;
    text-align: center;
    position: relative;
    transform: translateY(-50%);
    transform: translateX(25%);
  }
  
  #taskRate {
    /* Adjusting the width of the element for smaller screens */
    width: 30%;
  }
  
  #taskMetric {
    /* Adjusting the width of the element for smaller screens */
    width: 10%;
  }
}
